<%- include('../partials/header') %>
    <h3>Skill name: <%= skill.name %></h3>
    <h3>Experience level: <%= skill.experience %></h3>
    <form action="/skills/<%= skill.id %>?_method=DELETE" class="delete-form" method="POST">
        <button type="submit">Delete Skill</button>
    </form>
<%- include('../partials/footer') %>